<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnathan.sign.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <!--<resultMap id="BaseResultMap" type="com.johnathan.sign.pojo.User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_password" property="userPassword"/>
    </resultMap>-->

    <!-- 通用查询结果列 -->
    <!--<sql id="Base_User_List">
        user_id,user_name,user_email,user_password
    </sql>-->

    <!-- 查询全部 -->
    <select id="findAll" resultType="User">
        select * from user;
    </select>
</mapper>